@import '../../../../helpers/style/variables.scss';

.rootWrapper {
    padding-top: 91px;
    margin-top: -91px;
}

.carouselWrapper {
    padding-left: 5px;
    padding-top: 60px;
}

@media (max-width: 650px) {
    .carouselItem {
        width: 140px;
        height: 140px;
    }
}