@import '../../../../helpers/style/variables.scss';

.rootWrapper {
    height: 100%;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    > p {
        text-align: center;
        line-height: 47px;
        letter-spacing: 0.03em;
        font-size: 40px;
        font-weight: 700;
        color: white;
        margin: 0;
    }
    > div {
        margin-top: 10px;
        width: 50px;
        height: 3px;
        background: linear-gradient(107.87deg, #E2AC2A 28.32%, #DE7F58 34.23%, #DC6D6D 42.4%, #D960CD 50.12%, #884ECD 59.2%);
        border-radius: 50px;
    }
}

.mainblock {
    height: 438px;
    width: 70%;
    background: $card-background;
    border: 1px solid $card-border;
    border-radius: 10px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textWrapper {
    margin-left: 60px;
    max-width: 450px;
    > p {
        color: white;
        &:first-of-type {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
        }
        &:last-of-type {
            margin-top: 0;
            line-height: 24px;
            font-size: 16px;
            font-weight: 300;
        }
    }
}

.imagesWrapper {
    position: absolute;
    right: 285px;
    margin-right: 60px;
}

.picture1 {
    position: absolute;
    top: -43px;
    left: -128px;
    z-index: 20;
}

.picture3 {
    position: absolute;
    bottom: -63px;
    right: 29px;
    z-index: 20;
}

@media (max-width: 426px) {
    .sectionTitle {
        > p {
            font-size: 30px;
        }
    }

    .mainblock {
        width: 90%;
        height: 490px;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .textWrapper {
        margin: 0 16px;
        > p {
            &:first-of-type {
                margin-top: 16px;
                font-size: 22px;
            }
            &:last-of-type {
                font-size: 14px;
            }
        }
    }

    .imagesWrapper {
        right: 36px;
        margin-right: 0px;
        margin-top: 285px;
    }

    .picture1 {
        top: -26px;
        left: -78px;
        width: 115.64px;
        height: 76.98px;
    }

    .picture2 {
        width: 233.1px;
        height: 152.75px;
    }
    
    .picture3 {
        bottom: -38px;
        right: 18px;
        width: 80.95px;
        height: 107.89px;
    }
}