@import '../../../../helpers/style/variables.scss';

.rootWrapper {
    height: 100%;
    padding-top: 91px;
    margin-top: -91px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    height: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    > p {
        letter-spacing: 0.03em;
        font-size: 40px;
        font-weight: 700;
        color: white;
        margin: 0;
    }
    > div {
        margin-top: 10px;
        width: 50px;
        height: 3px;
        background: linear-gradient(107.87deg, #E2AC2A 28.32%, #DE7F58 34.23%, #DC6D6D 42.4%, #D960CD 50.12%, #884ECD 59.2%);
        border-radius: 50px;
    }
}

.imageProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63%;
}

.imagesRootWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    width: 87%;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: rgba(36, 42, 99, 0.29);
    > img {
        margin-top: 15px;
        pointer-events: none;
    }
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    width: 68%;
}

.listWrapper {
    width: 320px;
    > ul {
        list-style-type: none;
        padding: 0;
        margin: 0 20px 0 0;
        > li {
            margin-top: 7px;
            padding-left: 1.5rem;
            background-image: url('../../../../assets/images/main-page/roadmap-section/list-marker.svg');
            background-position: 0 0;
            background-size: 1.6rem 1.6rem;
            background-repeat: no-repeat;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            color: white;
        }
    }
}

@media (max-width: 650px) {
    .sectionTitle {
        > p {
            font-size: 30px;
        }
    }

    .mobileViewWrapper {
        margin-left: 5px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        > img {
            pointer-events: none;
        }
    }

    .imagesRootWrapper {
        margin-top: 20px;
        height: 930px;
        flex-basis: 22%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .imageWrapper {
        width: 93px;
        height: 93px;
        > img {
            width: 170px;
            height: 170px;
        }
    }

    .infoWrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .listWrapper {
        width: 100%;
        > ul {
            // margin: 0 0 80px 0;
            > li {
                font-size: 14px;
                line-height: 24px;
            }
        }
        > span {
            margin-left: 8px;
            margin-bottom: 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            color: #FFFFFF;
            width: 99px;
            height: 44px;
            background: rgba(91, 86, 118, 0.3);
            border-radius: 5px;
        }

        &:first-of-type {
            margin-top: 7px;
        }
    }

    .firstDate {
        // margin-left: 8px;
        // margin-bottom: 9px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 112px;
        height: 44px;
        background: url('../../../../assets/images/main-page/roadmap-section/background-first-date2.png') no-repeat;
        > span {
            margin-left: 20px;
            font-size: 20px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}