@import '../../../../../helpers/style/variables.scss';

.rootWrapper {
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 930px;
    // height: 263px;
    background: $card-background;
    border: 1px solid $card-border;
    border-radius: 10px;
    margin-bottom: 30px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &:hover {
        transition: 0.2s;
        box-shadow: 0px 10px 20px #322474;
    }
}

.contentWrapper {
    transition: max-height 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 36px 0 30px;
    &:hover {
        cursor: pointer;
    }
}

.textDefault {
    transition: 0.2s;
    color: white;
    font-size: 24px;
    font-weight: 700;
    max-width: 600px;
}

.textGradient {
    transition: 0.1s;
    max-width: 600px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: none;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #E2AC2A;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(226, 172, 42, 0));
    --tw-gradient-stops: var(--tw-gradient-from), #DE7F58, var(--tw-gradient-to, rgba(222, 127, 88, 0));
    --tw-gradient-stops: var(--tw-gradient-from), #DC6D6D, var(--tw-gradient-to, rgba(220, 109, 109, 0));
    --tw-gradient-stops: var(--tw-gradient-from), #D960CD, var(--tw-gradient-to, rgba(217, 96, 205, 0));
    --tw-gradient-to: #884ECD;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.answerWrapper {
    animation: textAppear 0.3s ease-in-out;
    padding: 0 30px;
    > p {
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 300;
        color: white;
    }
}

@keyframes textAppear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 1050px) {
    .rootWrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .cardHeader {
        padding: 16px 23px 16px 16px;
        align-items: flex-start;
        > p {
            margin: 0;
        }
        > img {
            margin-top: 5px;
            width: 16px;
            height: 16px;
        }
    }

    .textDefault {
        font-size: 22px;
        max-width: 275px;
        font-weight: 500;
    }

    .textGradient {
        max-width: 275px;
        font-size: 22px;
        font-weight: 500;
    }

    .answerWrapper {
        padding: 0 30px 0 16px;
        > p {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }
}